{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    },
    {
      "files": "*.blade.php",
      "options": {
        "parser": "html"
      }
    }
  ]
}
